.confirmation-modal {

    .show-grid {
        font-size: 20px;
    }

    .btn-primary {
        margin-right: 8px;
    }

    .dark {
        color: $whisper;

        .modal-header, .modal-body, .modal-footer {
            background-color: $scarlet-gum;
        }    

        .btn-primary {
            background-color: $studio;
            border: 1px solid $studio;

            &:hover {
                background-color: $vivid-violet;
                border: 1px solid $vivid-violet;
            }
        }

        .btn-secondary {
            background-color: $raven;
            border: 1px solid $raven;

            &:hover {
                background-color: $shuttle-grey;
                border: 1px solid $shuttle-grey;
            }
        }        

        button.close {

            span {
                color: $white;
            }            
        }
    }
}