.footer {
    margin: 0;
    padding: 0;

    .row {            
        bottom: 0;
        padding: 5px 0;
        position: fixed;
        text-align: center;
        width: 100%;

        a {
            color: $white;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }  
        
        i {
            bottom: 5px;
            font-size: 14px;        
            margin-left: 4px;
            position: relative;
        }
    }

    .light {
        background-color: $dark-violet;
    }

    .dark {
        background-color: $honey-flower;
    }

    @include media(phones) {
        
        span {
            font-size: 14px;
        }        

        i {
            font-size: 11px;
        }
    }
}