.header {
    margin: 0;
    padding: 0;
    
    .navbar {            
        margin: 0 -15px;
        padding: 18px 35px;
        
        .col {
            padding: 0;
        }        

        .brand {                        
            margin: 0 22px 0 15px;            
        }        
        
        .react-toggle {        
            margin: 6px 12px 0 0px;            
            
            .react-toggle-track-check, .react-toggle-track-x {            
                height: 14px;            
                width: 14px;
            }
            
            .react-toggle-thumb {
                border: none;
                background-color: white;
            }           
        }
    
        .dropdown-toggle.nav-link, .nav-link {
            color: $whisper;
            font-size: 17px;
            margin: 0 15px 0 0;

            &:hover, &:focus, &:active {
                color: $white;
            }                
        }                         

        .search-button {            
            
            &:hover, &:active {
                @extend .input-group-text;
                background-color: $link-water;
            }

            &:focus {
                @extend .input-group-text;                
            }
        }

        .dropdown-item {
            padding: 8px 0 8px 15px;

            &:hover {
                background-color: $whisper;
            }

            &:focus, &:active {
                background-color: $electric-purple;
                color: $white;         
            }
        }

        .sign-in-button {
            background-color: transparent;
            border-color: $white;
            color: $white;
            margin-right: 15px;
            width: 87px;            
        }

        .sign-up-button {
            background-color: $white;
            border-color: $white;
            color: $dark-violet;            
            width: 87px;            
        }        

        .sign-out-button  {
            background-color: transparent;
            border-color: $white;
            color: $white;        
            width: 87px;

            &:hover, &:active {
                background-color: $white;
                border-color: $white;
                color: $dark-violet;
            }
        }
        
        .profile-pic {
            margin-left: -8px;

            img {                
                border-radius: 50%;
                height: 25px;
                margin-right: 8px;
                width: 25px;
            }            
        }

        .navbar-toggler {
            border-color: $white;
            color: $white;
        }

        .navbar-toggler-signed-in {  
            border: none;      
            padding: 0;    
            
            img {
                border-radius: 50%;
                height: 40px;                
                width: 40px;                
            }
        }
    
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");        
        }
    
        #basic-navbar-nav {
            transition: 0.5s height;
        }
        
    }                                   

    .light {

        .navbar {
            background-image: linear-gradient(to bottom, $dark-violet, $electric-purple);
        }
        
        .react-toggle-track, .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
            background-color: $honey-flower;            
        }
    }
    
    .dark {
        
        .navbar {
            background-color: $scarlet-gum;
        }
        
        .react-toggle-track, .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
            background-color: $blue-violet;            
        }
    }

    @include media(phones, large-phones, tablets) {        

        .navbar-collapse {
            margin-top: 10px;
        }

        .sign-in-button, .sign-up-button, .sign-out-button {
            margin: 8px 0;
        }

        .profile-pic {
            display: none;
        }        
    }            

    @include media(desktops) {

        .settings-link {
            display: none;
        }
    }
}