.opinions-container {
    @include containerPadding;
    text-align: center;

    .initial-message {        
        font-size: 20px;               
    }

    .random {
        background-color: $dark-violet;
        border-color: $dark-violet;
        margin-top: 15px;

        &:active {
            background-color: $studio !important;
            border-color: $studio !important;
        }
    }

    @include opinionsGrid(80px auto 0, pointer, linear-gradient(180deg, $black 60%, transparent), 200px, $electric-purple);

    .up-arrow {            
        bottom: 25px;                           
        font-size: 35px;                        
        position: fixed;
        right: 0px;
        text-align: center;
        width: 100%;

        i {
            cursor: pointer;
        }
    }

    .light {
    
        .initial-message {
            color: $nandor;                           
        }            
        
        .up-arrow {                    
            color: $dark-violet;
        }
    }

    @include phones {

        .opinions-grid {

            .opinion-box {
                padding: 20px 18px 40px;            
            }
        }
                
    }
}