.comments {
    @include containerPadding;
    @include opinionsGrid(10px auto 0, auto, none, auto, $studio);        
    max-width: 800px;            
    width: 100%;
    
    .divider {
        font-size: 18px;     
        
        hr {
            background-color: $dark-violet;
        }
    }

    .comment-form-box, .authenticate-banner {
        background-color: $white;
        border: 1px solid $dark-violet;
        margin: 25px 0;
        padding: 30px 0;
    }

    .comment-form-box {

        .col-12 {
            display: flex;
            justify-content: center;
            margin: 10px 0;                            
        }

        .warning-message {
            background-color: $mauve;
            padding: 0 10px;
            text-align: center;
        }

        .comment-form {
            max-width: 700px;
            padding: 0 15px;
            width: 100%;
        }

        #comment-textarea {                                       
            text-align: justify;            
        }

        .post-comment-button {
            background-color: $dark-violet;
            border-color: $dark-violet;
            margin-top: 30px;            
            
            &:active {
                background-color: $studio;
                border-color: $studio;
            }

            &:disabled {
                background-color: $dark-violet;
                border-color: $dark-violet;
                cursor: not-allowed;
            }
        }        
    }

    .comment-box {             
        padding: 10px;
        margin: 20px 0;        

        .profile-picture, .details, .body {
            padding: 0;
        }

        .profile-picture {
            margin-left: 5px;

            img {
                border-radius: 50%;
                width: 50px;
            }            
        }

        .author {            
            color: $black;
            font-weight: 600;
            padding-right: 5px;
        }

        .date {            
            color: $nandor;
            font-size: 14px;
            padding-left: 5px;
        }

        .body {
            margin-top: 5px;
            max-width: 700px;            
            word-break: break-all;
            text-align: justify;                      
            width: 100%;
        }
    }

    .dark {   
        
        .divider {

            hr {
                background-color: $studio;
            }
            
        }

        .comment-form-box, .authenticate-banner {
            background-color: $jagger;
            border-color: $studio;            
            
            a {
                color: $mauve;
            }
        }

        .comment-form-box {           
            
            .warning-message {
                background-color: $honey-flower;
            }            

            .form-control {
                color: $whisper;
                background-color: $jagger;
    
                &::placeholder {
                    color: $pink-swan;
                }
            }
            
            .post-comment-button {                
                background-color: $studio;
                border: 1px solid $studio;
    
                &:active {
                    background-color: $vivid-violet;
                    border: 1px solid $vivid-violet;
                }
    
                &:disabled {                
                    background-color: $studio;
                    border: 1px solid $studio;                
                }                
            }
        }
        
        .comment-box {
            
            .author {
                color: $white;                
            }

            
            .date, .body {
                color: $whisper;
            }

            .date {                
                font-weight: 350;
            }
        }
    }
}