.settings {
    @include containerPadding; 
    max-width: 500px;   
    text-align: center;
    width: 100%;

    .check-profile {
        background-color: $dark-violet;
        border-color: $dark-violet;
        font-size: 18px;
        height: 50px;                
        width: 100%;

        &:active {
            background-color: $studio !important;
            border-color: $studio !important;
        }        
    }

    .settings-form {          
        margin-top: 30px;
    }
}