.user {
    @include containerPadding;
    max-width: 800px;
    width: 100%;    

    .profile {
        margin-bottom: -70px;

        .profile-picture {
            margin-right: 15px;

            img {
                border-radius: 50%;
                height: 160px;
                width: 160px;
            }            
        }        
        
        .name {
            font-size: 25px;
            font-weight: bold;            
            margin-bottom: 10px;
        }

        .description {                        
            text-align: left;                                     
            word-break: break-all;            
        }

        .registration-date {            
            color: $nandor;
            margin-top: 5px;
        }
    }
    
    .dark {

        .profile-picture {

            img {
                border: 5px solid $white;
            }
        }

        .registration-date {
            color: $link-water;
            
        }
    }

    @include media(phones) {

        text-align: center;

        .profile-picture {
            margin-right: 0;            
            margin-bottom: 30px;            
        }        
    }
}