.user {
    @include containerPadding;
    max-width: 800px;
    width: 100%;    

    .profile {
        margin-bottom: -70px;

        .profile-picture {

            img {
                border-radius: 50%;
                height: 160px;
                width: 160px;
            }            
        }        
        
        .name {
            font-size: 25px;
            font-weight: bold;            
            margin-bottom: 10px;
        }

        .registration-date {
            color: $nandor;
        }
    }
    
    .dark {

        .profile-picture {

            img {
                border: 4px solid $white;
            }
        }

        .registration-date {
            color: $link-water;
            
        }
    }

    @include media(phones) {

        text-align: center;

        .profile-picture {            
            margin-bottom: 30px;            
        }
    }
}