* {
    list-style: none;
    margin: 0;
    padding: 0;
}

*:focus:not(.focus-visible) {
    outline: 0 !important;
    box-shadow: none !important;
  }

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {    
    min-height: 100vh;
    position: relative;
}

button:active {
    outline: 0;
}