//  Colors
$black: #000000;
$blue-violet: #B433F7;
$carissma: #FF7D8A;
$dark-violet: #9B00EA;
$electric-purple: #B832FD;
$honey-flower: #643b79;
$jagger: #3C2946;
$link-water: #D3D8DE;
$mauve: #DB97FF;
$nandor: #4A5A4C;
$pink-swan: #B3B3B3;
$raven: #6C757D;
$scarlet-gum: #4A2F58;
$shuttle-gray: #5D666D;
$studio: #8443A5;
$vivid-violet: #7E3F9E;
$whisper: #EAE9E9;
$white: #FFFFFF;

// Breakpoints
$breakpoints-min: (
    phones: 305px,
    large-phones: 576px,
    tablets: 768px,
    desktops: 992px
);

$breakpoints-max: (
    phones: 575.98px,
    large-phones: 767.98px,
    tablets: 991.98px,
    desktops: 50000px
);