//  Colors
//$blackcurrant: #26182D;
$black: #000000;
$blue-violet: #B433F7;
$carissma: #FF7D8A;
$dark-violet: #9B00EA;
$electric-purple: #B832FD;
$honey-flower: #643b79;
$jagger: #3C2946;
//$magnolia: #FBF2FF;
$mauve: #DB97FF;
$nandor: #4A5A4C;
$pink-swan: #B3B3B3;
$scarlet-gum: #4A2F58;
$studio: #8443A5;
$whisper: #EAE9E9;
$white: #FFFFFF;
